/* Center Fixed Width Body */
h1 {
  color: rgb(28, 61, 105);
  font-family: monospace;
  text-decoration: underline;
}
h2 {
  padding: auto0;
  color: rgb(28, 49, 105);
  font-family: monospace;
}
body {
  background-color: rgb(170, 192, 212);
  width: 500px;
  margin: 85px auto;
  border: solid;
  color: rgb(132, 146, 185);
}
p {
  color: rgb(28, 49, 105);
  font-family: monospace;
}
ul {
  font-family: monospace;
  color: rgb(74, 84, 114);
  padding: color rgb(15, 26, 58);
  .link:hover {
    color: #553e3e;
  } /* CSS link color (red) */
}
ol {
  color: rgb(2, 8, 26);
  font-family: monospace;
}
html {
  border: solid;
  border: rgb(15, 26, 58);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(45, 62, 78)
  );
}
img {
  margin-left: 120px;
  border: solid;
  color: rgb(132, 146, 185);
}

a:link {
  color: rgb(39, 39, 97);
  text-decoration: underline;
}

a:visited {
  color: rgb(58, 66, 92);
  text-decoration-style: wavy;
}
a:hover {
  color: antiquewhite;
}

.mask1 {
  -webkit-mask-image: url(BlackStar.png);
  mask-image: url(BlackStar.png);
  mask-repeat: no-repeat;
}
